@import url('https://fonts.cdnfonts.com/css/bahnschrift');
    
    body, html {
        height: 100%;
        margin: 0;
        overflow: hidden;
        background-color: rgb(43, 43, 43);
        /*background-image: url("https://i.imgur.com/JfQZZSA.png");*/
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation-duration: 0.5s;
        animation-name: animate-fade;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
    }

    .login {
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100%;
        padding: 100px;
        position: absolute;
        right: 0;
        top: -20px;
        transition: width .8s;
    }

    .login:hover {
        width: 300px;
      }

    .checkbonito {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: rgb(167, 167, 167);
    }

    .manzana {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .manzana input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .manzana:hover input ~ .checkbonito {
        background-color: #ccc;
    }

    .manzana input:checked ~ .checkbonito {
        background-color: #89af00;
    }

    .checkbonito:after {
        content: "";
        position: absolute;
        display: none;
    }

    .manzana input:checked ~ .checkbonito:after {
        display: block;
    }

    .manzana .checkbonito:after {
        left: 3px;
        top: 0px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .pera{
        width: 150%;
        position: relative;
        left: -70px;
        top: -80px;
    }

    .linea {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid rgba(114, 114, 114, 0.548); 
        line-height: 0.1em;
        margin: 10px 0 20px; 
    } 

    .linea span { 
        font-family: "Bahnschrift";
        font-size: 10px;
        background:#fff; 
        padding: 10px; 
    }
